#slideshow {
  position: relative;
  width: 600px ;   /* adjust to your needs */
  height: 400px ;  /* adjust to your needs */
  margin: 0 auto;
  border: 10PX solid #ccc;
}

.slide {
  position: absolute; /* stack images on top of each other */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;      /* hide all slides */
}

.slide:first-child {
  display: block;     /* show only the first slide */
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* make image fill the container nicely */
}
